name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*" # 仅当推送 v 开头的 tag 时触发 (如 v0.1.0)

jobs:
  build:
    name: Build - ${{ matrix.platform.os_name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
          - os_name: Linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin_name: portsnap
            name: portsnap-linux-amd64
          - os_name: Windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin_name: portsnap.exe
            name: portsnap-windows-amd64.exe
          - os_name: macOS
            os: macos-latest
            target: x86_64-apple-darwin
            bin_name: portsnap
            name: portsnap-darwin-amd64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}

      - name: Build Binary
        run: cargo build --release --target ${{ matrix.platform.target }}

      - name: Rename Binary
        shell: bash
        run: |
          cp target/${{ matrix.platform.target }}/release/${{ matrix.platform.bin_name }} ${{ matrix.platform.name }}

      - name: Generate MD5
        shell: bash
        run: |
          md5sum ${{ matrix.platform.name }} > ${{ matrix.platform.name }}.md5

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform.name }}
          path: |
            ${{ matrix.platform.name }}
            ${{ matrix.platform.name }}.md5

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Display structure of downloaded files
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            portsnap-linux-amd64/portsnap-linux-amd64
            portsnap-linux-amd64/portsnap-linux-amd64.md5
            portsnap-windows-amd64.exe/portsnap-windows-amd64.exe
            portsnap-windows-amd64.exe/portsnap-windows-amd64.exe.md5
            portsnap-darwin-amd64/portsnap-darwin-amd64
            portsnap-darwin-amd64/portsnap-darwin-amd64.md5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
